*,
*::after,
*::before {
	box-sizing: border-box;
}


/*--- import fonts ---*/
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700");

@font-face {
font-family: "GrandSlang-Roman";
src: url("../fonts/GrandSlang-Roman.otf");
}

html, 
body, 
main {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

body {
	margin: 0;
	--color-text: #ec0a45;
    --color-bg: #0c0c0c;
    --color-link: #fff;
	--color-link-hover: #ec0a45;
	--color-content-title-sub: #CCCCCC;
    color: var(--color-text);
    background-color: var(--color-bg);
    --cursor-stroke: #ec0a45;
    --cursor-fill: none;
    --cursor-stroke-width: 1px;
	font-family: Merriweather Sans, -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	font-size: 0.9em;
}

a:hover,
a:focus {
	text-decoration: none;
	color: var(--color-link-hover);
	outline: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.message {
	position: relative;
	z-index: 100;
	text-align: center;
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	font-size: 0.85rem;
	position: relative;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

/* Navbar */
 .navbar-collapse {
 	border-top: 0px;
 }

/*end navbar */

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 2rem;
}

.frame__links a {
	color: #F4F4F4;	
	font-weight: 600;
}

.frame__links a:hover {
    color: #bbbbbb;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: none;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	align-items: center;
	justify-content: center;
	max-height: 300px;
}

.grid {
	pointer-events: none;
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	display: grid;
	grid-template-columns: repeat(50,2%);
	grid-template-rows: repeat(50,2%);
}

.grid__item {
	position: relative;
}

.grid--img .grid__item {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.grid__item-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.grid--img .grid__item-img {
	flex: none;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	will-change: transform;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.pos-1 {
	grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
	grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
	grid-area: 1 / 36 / 14 / 42;
}

.pos-4 {
	grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
	grid-area: 17 / 32 / 32 / 38;
}

.pos-6 {
	grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
	grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
	grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
	grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
 	grid-area: 37 / 39 / 48 / 47;
}

.content__title {
	font-family: Merriweather Sans, Source Sans Pro, sans-serif, sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: white;
	margin: 0;
	line-height: 1;
	position: relative;
	text-align: center;
}

.content__title-sub {
	color: #CCCCCC; /*var(--color-content-title-sub);*/
	font-family:  GrandSlang-Roman, Merriweather Sans, sans-serif;
	font-weight: 100;
	font-size: 35px;
	display: block;
	text-align: center;
	line-height: 0.5;
	margin-bottom: 30px;
	margin-top: 15px;
	letter-spacing: 0.1em;
}

.cursor {
	display: none;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100%;
		padding: 3rem;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'... demos';
	}

	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100%;
		justify-content: center;
		max-height: none;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}


/*readded original code*/

/* Navbar Toggle */

.navbar-collapse {
	margin-top: 10px;
	text-align: right;
	box-shadow: inset 0 0px 0 rgb(255 255 255 / 10%);
}

.navbar-toggle {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0 transparent;
    border-radius: 0;
}
/* Menu Icon */
.navbar-brand {
    margin-top: 0px;
    padding-top: 1px;
    padding-left: 0px;
    padding-bottom: 5px;
    height: 45px;
}

/* -- Buttons -- */
.btn-main {
     margin-top: 10px;
     cursor:pointer;
     text-transform: capitalize;
     font-size: 1em;
     letter-spacing: 0.1em;
     color: #F4F4F4;
}

.secondary
{
    text-align: center;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    min-width: 160px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.secondary:hover {
    color: #060607;
    background-color: #F4F4F4;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*--- End Navbar ---*/

@media (max-width: 768px) {

.navbar-collapse {
	margin-top: 10px;
	text-align: center;
}

    /* Navbar*/
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-header {
    	display: block;
    	margin: auto;
    	left: auto;
    	margin-bottom: 20px;

    }
    .navbar-right .dropdown-menu {
        right: auto;
        left: -30px;
    }

.content__title {
	font-size: 14vw;
}

.content__title-sub {
	font-size: 8vw;
	text-align: center;
	margin-bottom: 10px;
}
.content__title-sub {
	margin-bottom: 2vw;
}

.content__title-sub {
	color: white;
	font-family: Merriweather Sans, Source Sans Pro, sans-serif;
	font-weight: 600;
	font-size: 20px;
	display: block;
	text-align: center;
	line-height: 0.5;
	margin-bottom: 10px;
	margin-top: 10px;
	letter-spacing: 0.1em;
}

}

/*ridicolously small screens */
@media (max-width: 250px) {
.navbar-collapse {
	display: none;
}
.secondary {
	border: 0px;
	text-decoration: underline;
}
}