body {background-color: blue;}


/* PAGE TRANSITION */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeInUp {
  0% {opacity: 0;transform: translate3d(0, 100%, 0);}
  100% {opacity: 1;transform: none;}
}

@keyframes fadeInRight {
  0% {opacity: 0;transform: translate3d(100%, 0, 0);}
  100% {opacity: 1;transform: none;}
}

/** Basic styles for an animated element */
.scene_element {
animation-duration: 0.25s;
transition-timing-function: ease-in;
animation-fill-mode: both;
background-color: blue;
}


.scene_element {background-color: purple;min-height: 300px;}
/** An element that fades in */
.scene_element--fadein {animation-name: fadeIn;}

/** An element that fades in and slides up */
.scene_element--fadeinup {animation-name: fadeInUp;}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {animation-name: fadeInRight;}

/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/


/* * CSS Page Transitions * Don't forget to add vendor prefixes! */

.m-scene {
    /** Reverse "exit" animations */
}

.m-scene .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
    animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
}

.m-scene .scene_element--fadeinright {
    animation-name: fadeInRight;
}

.m-scene.is-exiting .scene_element {
    animation-direction: alternate-reverse;
}